<table class="homepage">
    <tr>
      <td>
        <article>
          <h2>In Theaters:</h2>
          <table class="movies">
            <tr>
              {{#each inTheaters}}
                <td><a href={{this.link}}>{{this.title}}</a></td>
              {{else}}
                <td>There's nothing in theaters</td>
              {{/each}}
            </tr>
            <tr>
              {{#each inTheaters}}
                <td><a href={{this.link}}<img src={{this.img}}></a></td>
              {{/each}}
            </tr>
            <tr>
              {{#each inTheaters}}
                <td>{{this.releaseDate}}</td>
              {{/each}}
            </tr>
          </table>
        </article>
      </td>
    </tr>

    <tr>
      <td>
        <article>
          <h2>Trending:</h2>
          <table class="movies">
            <tr>
              {{#each trending}}
                <td><a href={{this.link}}>{{this.title}}</a></td>
              {{else}}
                <td>Nothing is trending.</td>
              {{/each}}
            </tr>
            <tr>
              {{#each trending}}
                <td><a href={{this.link}}<img src={{this.img}}></a></td>
              {{/each}}
            </tr>
            <tr>
              {{#each trending}}
                <td>{{this.releaseDate}}</td>
              {{/each}}
            </tr>
          </table>
        </article>
      </td>
    </tr>
</table>