{{#if error}}
<div id="login-error" class="error">
  <h3>Error:</h3>
  {{ error }}
</div>
{{/if}}

<div class="content">
  <!--The In Theaters Table -->
  <table class="inTheaters" style="float: left", border="1">
    <caption>In Theaters</caption>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>{{{movie}}} </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>{{{movie}}} </th>
    </tr><tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>{{{movie}}} </th>
    </tr>
  </table>

  <!--The Most Popular Table -->

  <table class="mostPopular" style="float: left" border="1">
    <caption>Most Popular</caption>
    <tr> 
      <th>Testing Again </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>Testing </th>
    </tr>
    <tr> 
      <th>{{{movie}}} </th>
    </tr>
  </table>

<div>
