<h2>In Theaters:</h2>
<table class="movies">
  <tr>
    {{#each inTheaters}}
    <td>
      <a href="" class="title"><h3>{{this.title}}</h3>
      <img src={{this.poster}}></a>
      <h3>{{this.releaseDate}}</h3>
      <p>{{this.description}}</p>
    </td>
    {{else}}
      <td>There's nothing in theaters</td>
    {{/each}}
  </tr>
</table>