{{#if error}}
<div id="form-error" class="form-error">
  <h3>Error:</h3>
  {{ error }}
</div>
{{/if}}

<article class="searchPage">
	<table class="movies">
		{{#each searchResults}}
		<tr>
			<td>
				<a href="/movies/{{this._id}}" class="title">
					<h3>{{this.title}}</h3>
					<img src={{this.poster}}>
				</a>
				<h3>{{this.releaseDate}}</h3>
				<p>{{this.description}}</p>
			</td>
			{{else}}
				<td>No results</td>
		</tr>
		{{/each}}
		{{#if user}}
		<tr>
			<td><a href="/account/CreateMovie">Didn't find what you're looking for? Click here to add it!</a></td>
		</tr>
			{{else}}
				<tr>
					<td><a href="/login">Didn't find what you're looking for? Click here to log in and add it!</a></td>
				</tr>
		{{/if}}
	</table>
</article>